/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffffff;
    color: #333333;
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #666666;
}

/* Стили для заголовка */
.main-header {
    background-color: #ffffff;
    padding: 5px 0; /* Уменьшаем отступы */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.main-header .container {
    display: flex;
    justify-content: center; /* Центрируем содержимое по горизонтали */
    align-items: center;
    flex-wrap: wrap; /* Позволяет элементам перенестись на новую строку, если нужно */
}

.logo {
    flex: 1; /* Позволяет логотипу занимать оставшееся пространство */
    text-align: center; /* Центрируем текст логотипа */
}

.logo h1 {
    font-size: 1.5rem; /* Уменьшаем размер логотипа */
    color: #333;
    margin: 0; /* Убираем внешние отступы */
}
.main-nav {
    flex: 1; /* Позволяет навигации занимать оставшееся пространство */
    text-align: center; /* Центрируем текст навигации */
}

.main-nav ul {
    display: flex;
    list-style: none;
}

.main-nav ul li {
    margin-left: 10px;
}

.main-nav ul li a {
    font-size: 0.9rem; /* Уменьшаем размер шрифта для пунктов меню */
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    transition: color 0.3s ease;
}

.main-nav ul li a:hover {
    color: #3EB489;
}


/* Герой-секция */
.hero {
    align-content: center;
    background-image: linear-gradient(to right, #FFA781, #FFA781);
    padding: 100px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.4rem;
    color: #555;
    margin-bottom: 40px;
}

.animated-title {
    font-size: 48px;
    font-weight: bold;
    
    color: #333;
    animation: typing 2s steps(30), blink 0.5s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    width: 12ch;
    margin-bottom: 20px;
}

@keyframes typing {
    from { width: 0; }
    to { width: 12ch; }
}

@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

/* Преимущества */
.section {
    padding: 80px 0;
    text-align: center;
    background-color: #f9f9f9;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 40px;
}

.advantage-item {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    flex: 1;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.advantage-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.advantage-item i {
    color: #FFA781;
    margin-bottom: 20px;
}

.advantage-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.advantage-item p {
    font-size: 1rem;
    color: #666;
}

/* Кнопки */
.btn-primary {
    background: linear-gradient(135deg, #2F4F4F, #2F4F4F);
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: background 0.3s ease;
}

.btn-primary:hover {
    background: linear-gradient(135deg, #2F4F4F, #2F4F4F);
}

/* Отзывы */
.testimonial-item {
    display: none;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.testimonial-item.active {
    display: block;
}

.testimonial-item p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.testimonial-item h4 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.testimonial-controls {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.testimonial-controls button {
    background-color: #2F4F4F;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.testimonial-controls button:hover {
    background-color: #001F3F;
}

/* Footer */
footer {
    padding: 40px 0;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
}

footer .social-icons a {
    margin: 0 10px;
    text-decoration: none;
}

footer .social-icons a img {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
}

footer .social-icons a:hover img {
    transform: scale(1.2);
}

footer p {
    margin-top: 20px;
    font-size: 0.9rem;
}

/* Адаптивность */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .animated-title {
        text-align: center;
    }

    .advantages-list {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .advantage-item {
        width: 100%;
    }

    .main-nav ul {
        display: none; /* Изменяем это на flex */
        flex-direction: column; /* Ставим в колонку для мобильной версии */
        align-items: center; /* Центрируем элементы навигации */
    
    }

    .logo h1 {
        text-align: center;
        width: 100%; /* Логотип занимает всю ширину */
        font-size: 1.5rem; /* Немного увеличиваем размер для лучшей видимости */
    }
    footer {
        padding: 20px 0;
    }
}


/* Общие стили для секции FAQ */
.faq-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}

.faq-section h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2rem;
}

/* Стили для вопросов */
.faq-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
}

.faq-question {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    outline: none;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.faq-answer p {
    margin: 0;
    padding: 0 10px;
    font-size: 1rem;
}

/* Стили для активного вопроса */
.faq-item.active .faq-answer {
    max-height: 100px; /* Динамически можно увеличить в зависимости от текста */
}


.pricing-list {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.price-item {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
}

.price-item img {
    margin-bottom: 20px;
}

.price-item h3 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.price-item p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 20px;
}

.trial-info {
    font-size: 1.2rem;
    color: #FFA781;
    margin-bottom: 30px;
}

.price-item ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.price-item ul li {
    margin-bottom: 10px;
    font-size: 1rem;
    color: #333;
}

.price-item a.btn-primary {
    display: inline-block;
    margin-top: 20px;
}

/* Стили для списка преимуществ тарифа */
.features-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    font-size: 1.1rem;
}

.features-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.features-list li i {
    color: #FFA781;
    margin-right: 10px;
    font-size: 1.5rem;
}

/* Стили для кнопок переключения */
.testimonials-carousel {
    position: relative; /* Добавляем позиционирование для кнопок */
}

.carousel-button {
    position: absolute;
    top: 50%; /* Центрируем по вертикали */
    transform: translateY(-50%);
    background-color: #FFA781; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста */
    border: none; /* Без рамки */
    border-radius: 50%; /* Круглая форма */
    padding: 10px 15px; /* Внутренние отступы */
    cursor: pointer; /* Курсор в виде руки */
    font-size: 1.5rem; /* Размер шрифта */
    transition: background 0.3s ease; /* Плавный переход для фона */
    z-index: 10; /* Выше других элементов */
}

.carousel-button:hover {
    background-color: #3EB489; /* Цвет при наведении */
}

.carousel-button.prev {
    left: 10px; /* Расстояние от левой стороны */
}

.carousel-button.next {
    right: 10px; /* Расстояние от правой стороны */
}

